<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestngSuite"  parallel="methods" thread-count="1">
    <test verbose="2" name="Default test" preserve-order="true">
        <classes>
            <class name="com.test.TestngExample"/>
            <class name="com.test.TestngExample2"/>
        </classes>
    </test> <!-- Default test -->
</suite> <!-- Default suite -->